<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>	
	<a href="{{ site.baseurl }}#description" class="btn">Description</a>
	<a href="{{ site.baseurl }}#methods" class="btn">Methods</a>
	<a href="{{ site.baseurl }}#requirements" class="btn">Requirements</a>
	<a href="{{ site.baseurl }}#program" class="btn">Program</a>
	<a href="{{ site.baseurl }}#organizers" class="btn">Organizers</a>
	<a href="{{ site.baseurl }}#references" class="btn">References</a>
</section>

